/*Gerais*/
body{
    font-family: 'roboto' , sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/*Barra de navegação*/
header, .navbar{
    background-color: #0c395a
}

#nav-container{
    padding-top:0 ;
    padding-bottom:0 ;
}

.navbar-brand{
    margin-left: 20px;
    padding: 0;
    color: aliceblue;
}

.navbar-brand :hover{
  color: aliceblue;
}

#navbar-links a{
    color: aliceblue;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/*slider*/
.container-fluid{
    padding: 0%;
}

#carouselExampleCaptions  .carouselExampleCaptions , .carousel-inner , .carousel-item{
   height: 90vh;
}

#carouselExampleCaptions .carousel-caption{
    top: 40%;
}




#carouselExampleCaptions .carousel-caption h5{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 20px;

   


 }
 
 #carouselExampleCaptions .carousel-caption p{
     font-size: 22px;
     font-weight: 300;
     margin-bottom: 50px;
     color: #FFF;
  }
 
 
 .main-btn{
    background-color: #261157;
    color: #fff;
    font-size: 20px;
    
    border-radius:05px ;
    border: 5px solid  #261157;
    transition: .5;
    text-decoration: none;
 }
.main-btn:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #261157;
}


/*sobre a empresa*/
#about-area{
    background-color: rgb(234, 234, 235);
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;


}
.abount-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
.main-i{
    color: red;
    margin-right: 10px;
}

/*serviçoes da empresa*/
.service-box {
    text-align: center;
    margin-bottom: 50px;

}

.service-box i, .servise-box h4{
    transition: .5s;
}

.service-box i {
    font-size: 35px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 ,.service-box:hover >p{
color: red;
}




