/*Gerais*/
body{
    font-family: 'roboto' , sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/*Barra de navegação*/
.nav-item {
    user-select: none;
  }
  

header, .navbar{
    background-color: #0c395a
}

#nav-container{
    padding-top:0 ;
    padding-bottom:0 ;
}

.navbar-brand{
    margin-left: 20px;
    padding: 0;
    color: aliceblue;
}

.navbar-brand :hover{
  color: aliceblue;
}

#navbar-links a{
    color: aliceblue;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/*slider*/
.container-fluid{
    padding: 0%;
}

#carouselExampleCaptions  .carouselExampleCaptions , .carousel-inner , .carousel-item{
   height: 90vh;
}

#carouselExampleCaptions .carousel-caption{
    top: 40%;
}




#carouselExampleCaptions .carousel-caption h5{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 20px;

   


 }
 
 #carouselExampleCaptions .carousel-caption p{
     font-size: 22px;
     font-weight: 300;
     margin-bottom: 20px;
     color: #FFF;
  }
 
 
 .main-btn{
    background-color: #f87193;
    color: #fff;
    font-size: 20px;
    
    border-radius:05px ;
    border: 5px solid  #f87193;
    transition: .5;
    text-decoration: none;
 }
.main-btn:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #f87193;
}


/*sobre a empresa*/
#about-area{
    background-color: rgb(234, 234, 235);
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;


}
.abount-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
.main-i{
    color: #f87193;
    margin-right: 10px;
}

/*serviçoes da empresa*/
.service-box {
    text-align: center;
    margin-bottom: 50px;

}

.service-box i, .servise-box h4{
    transition: .5s;
}

.service-box i {
    font-size: 35px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 ,.service-box:hover >p{
color: #f87193;
}


/*Dados da empresa*/

.circle-box div {
    padding: 0 40px;

}
.progressbar-text{
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}



.card {
       text-align: center;
       width: 200px;
       height: 200px;
       background-color: aliceblue;
       border: 0.5px  solid black;
}

/*Trabalhe conosco*/

#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 120px 50px;

}

#company-img{
    background-image: url(../img/job.jpg);
    background-size:cover ;
    height: 100%;
}


#pattern-img h4, #pattern-img p{
    color: #FFF;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}


#pattern-img p {
    margin-bottom: 20px;
}

#apply-area{
    background-color: #2c2a2a;
}



/*portfolio*/

.project-box{
    margin-bottom: 30px;
}


#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;

    
}


.projectimg{
    width: 300px;
    height: 250px;
    margin-bottom: 50px;
}


#filter-btn-box .filter-btn{
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    margin:  0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
#filter-btn-box .filter-btn.active,  #filter-btn-box .filter-btn:hover{
    background-color:#f87193;
    color: #FFF;
}

/*news letter*/
#news-area{
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
}


#email-inpunt{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid#f87193;
    display:inline-block;
    box-sizing: border-box;
    width: 500px;
    height: 40px;
   
   
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #f87193;
    background-color: #f87193;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130;
    position: absolute;
    transition: .5s;
}

#news-btn:hover{
    color: #f87193;
    background-color: #f9f9f9;
}

.form-area{
    align-items: center;
}


/*call to action*/
#call-area{
    background-color: #696868;
    text-transform: uppercase;
}

#call-area .row{
    display: block;
    text-align: center;

}

#call-area p {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn{
    font-size: 20px;
    width: 100px;
}

/*footer*/

#contact-area{
    text-align: center;
}

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid  #f87193;
}

.contact-box i{
    color: #444;
    border:solid 1px #444;
     border-radius: 50%;
     width: 55px;
     height: 55px;
     line-height: 55px;
     font-size: 24px;
     margin-bottom: 20px;

}

.contact-title{
    font-weight: bold;
    color: #f87193;
}


#msg .box{
    font-size: 22px;
}

#contact-form input[type="text"],#contact-form input[type="email"],#contact-form textarea{
    margin-bottom: 15px;
    border-radius: 0;
}
#contact-form .main-btn{
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover{
    color: red;
}

/*copy*/

#copy-area{
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
    
    
}

@media(max-width:1024px){
  /*carousel*/
    #carouselExampleCaptions .carousel-caption h5{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 10px;

   


 }
 
 #carouselExampleCaptions .carousel-caption p{
     font-size: 16px;
     
     margin-bottom: 10px;
     color: #FFF;
  }
 
 
 .main-btn{
    background-color: #f87193;
    color: #fff;
    font-size: 15px;
    
    border-radius:05px ;
    border: 5px solid  #f87193;
    transition: .5;
    text-decoration: none;
 }
.main-btn:hover{
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #f87193;
}

}


     

@media(max-width:993px){
      
    /*Trabalhe conosco*/

#apply-area{
    height: 500px;
    
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 90px 25px;

}

#company-img{
    background-image: url(../img/job.jpg);
    background-size:cover ;
    height: 100%;
}


#pattern-img h4, #pattern-img p{
    color: #FFF;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}


#pattern-img p {
    margin-bottom: 20px;
}

#apply-area{
    background-color: #2c2a2a;
}

/*news letter*/
#email-inpunt{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid#f87193;
    display:inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
   
   
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #f87193;
    background-color: #f87193;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130;
    position: absolute;
    transition: .5s;
}

}

@media (max-width: 768px) {

    #carouselExampleCaptions .carouselExampleCaptions,
    .carousel-inner,
    .carousel-item img {
      height: 400px;
       
       
    }
    #carouselExampleCaptions .carouselExampleCaptions,
    .carousel-inner,
    .carousel-item {
       margin-top: 28px;
        height: auto; 
    }

    #carouselExampleCaptions .carousel-caption h5{
        color: rgb(255, 255, 255);
        font-size: 25px;
        margin-bottom: 35px;
        margin-top: 30px;
    
     }
     
     #carouselExampleCaptions .carousel-caption p{
         font-size: 15px;
         margin-bottom: 5px;
         color: #FFF;
      }

      #carouselExampleCaptions .carousel-caption {
        top: 10%;
    }


    .main-btn{
        background-color: #f87193;
        color: #fff;
        font-size: 10px;
        
        border-radius:05px ;
        border: 5px solid  #f87193;
        transition: .5;
        text-decoration: none;
     }



     
/*Trabalhe conosco*/

#apply-area{
    height: 400px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 30%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 60px 25px;

}





#pattern-img h4{
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


#pattern-img p {
    margin-bottom: 10px;
}

#apply-area{
    background-color: #2c2a2a;
}


/*card time da empresa*/

.card{
    text-align: center;
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    border: 0.5px solid black;
    margin-bottom:10px ;
    
}

 


/*portfolio*/

.project-box{
    margin-bottom: 30px;
}


#filter-btn-box{
    
    margin-bottom: 50px;
    text-align: center;

    
}

#filter-btn-box .filter-btn {
    margin: 10px 15px;
}


/*news letter*/

#news-area {
    text-align: start; 
  
}

#news-area .main-title{
    text-align: center;
}

#news-area p{
    text-align: center;
}



#email-inpunt{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid#f87193;
    display:inline-block;
    box-sizing: border-box;
    width: 370px;
    height: 40px;
   
   
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #f87193;
    background-color: #f87193;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130;
    position: absolute;
    transition: .5s;
}


}



@media (max-width: 425px) {
    #carouselExampleCaptions .carouselExampleCaptions,
    .carousel-inner,
    .carousel-item {
       margin-top: 28px;
       
       
    }

    #carouselExampleCaptions .carouselExampleCaptions,
    .carousel-inner,
    .carousel-item img {
      height: 300px;
       
       
    }




    #carouselExampleCaptions .carousel-caption h5{
        margin-top: 23px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-bottom: 10px;
       
    
     }
     
     #carouselExampleCaptions .carousel-caption p{
         font-size: 15px;
         margin-bottom: 20px;
         color: #FFF;
      }

      #carouselExampleCaptions .carousel-caption {
        top: 0%;
    }


    .main-btn{
        background-color: #f87193;
        color: #fff;
        font-size: 10px;
        
        border-radius:05px ;
        border: 5px solid  #f87193;
        transition: .5;
        text-decoration: none;
     }



     /*sobre a empresa*/

     .container {
        padding: 30px 0;
    }
     .main-title {
        
        margin: 0 0 20px 0;
        font-size: 20px;
      
    }

    .about-title{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }


    
/*Dados da empresa*/

.circle-box div {
    padding: 0 10px;

}



/*card time da empresa*/

.card{
    text-align: center;
    width: 150px;
    height: 200px;
    background-color: aliceblue;
    border: 0.5px solid black;
    margin-bottom:10px ;
    
}


/*Trabalhe conosco*/

#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 30%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 60px 25px;

}

#company-img{
    background-image: url(../img/job.jpg);
    background-size:cover ;
    height: 100%;
}


#pattern-img h4, #pattern-img p{
    color: #FFF;
}

#pattern-img h4{
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}


#pattern-img p {
    margin-bottom: 10px;
}

#apply-area{
    background-color: #2c2a2a;
}



/*portfolio*/

.project-box{
    margin-bottom: 30px;
}


#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;

    
}


.projectimg{
   
    width: 250px;
    height: 150px;
    margin-bottom: 50px;
}


#filter-btn-box .filter-btn{ 
    margin-bottom: 10px;
}

/*news letter*/

#news-area {
    text-align: start; 
  
}

#news-area .main-title{
    text-align: center;
}

#news-area p{
    text-align: center;
}



#email-inpunt{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid#f87193;
    display:inline-block;
    box-sizing: border-box;
    width: 170px;
    height: 40px;
   
   
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #f87193;
    background-color: #f87193;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130;
    position: absolute;
    transition: .5s;
}

/*call action*/
#call-area {
    background-color: #696868;
    text-transform: none; 
}


#contact-form .main-btn {
     width: 100px; 
    height: 30px; 
}

}
